<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Entradas Enviadas</h1>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li><strong>Llave:</strong> {{ post.llave }} | <strong>Valor:</strong> {{ post.valor }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay entradas para mostrar.</p>
    {% endif %}
    <a href="{{ url_for('hello_world') }}">Volver a la página principal</a>
</body>
</html>